<div class="modal-blocker"></div>
<div class="header header-main">
	<div class="titles">
		<h1 class="title">Bandcast</h1>
		<h2 class="subtitle">{{ bandcastNumber }}</h2>
	</div>
</div>
<div class="main">
	<div class="organizers">
		<div class="feed-header">
			<h2>Organizer Feed</h2>
			<div class="organizer-expand-button expand-button"><i class="content fa fa-caret-down"></i></div>
		</div>
		<div class="expand-list">
			<div class="organizer-list"></div>
			<div class="add-button add-organizer-button"><i class="content fa fa-plus"></i></div>
		</div>
		<div class="message-list"></div>
	</div>
	<div class="center-buffer"></div>
	<div class="attendees">
		<div class="feed-header">
			<h2>Attendee Feed</h2>
			<div class="attendee-expand-button expand-button"><i class="content fa fa-caret-down"></i></div>
		</div>
		<div class="expand-list">
			<div class="attendee-list"></div>
			<div class="add-button add-attendee-button"><i class="content fa fa-plus"></i></div>
		</div>
		<div class="message-list"></div>
	</div>
</div>

<div class="add-dialog">
	<div class="add-explanation">
		format: +19195555555,firstname,lastname,+19195554444,...
	</div>
	<textarea class="add-field"></textarea>
	<div class="confirm-add-button"><i class="content fa fa-check"></i></div>
	<div class="cancel-add-button"><i class="content fa fa-times"></i></div>
</div>

<div class="compose-button expand-on-compose"><i class="content fa fa-paper-plane fa-2x"></i></div>
<div class="compose expand-on-compose">
	<select class="compose-number">
	</select>
	<textarea class="field compose-field"></textarea>
</div>
<button class="send-button expand-on-compose broadcast">
	<i class="content broadcast fa fa-bullhorn fa-2x"></i>
	<i class="content reply fa fa-reply fa-2x"></i>
	<div class="slash"></div>
</button>
<div class="cancel-button expand-on-compose"><i class="content fa fa-times fa-2x"></i></div>


<script id="messageTemplate" type="text/template">
	<% if (value) { %>
		<div class="message">
			<div class="message-from"><%= value.from %> (<%= value.formattedTime %>)</div>
			<div class="message-text"><%= value.text %></div>
			<% if (value.to === "organizers") { %>
				<div
					class="reply-button"
					data-username="<%= value.username %>">
					<i class="content fa fa-reply"></i>
				</div>
			<% } %>
		</div>
	<% } else { %>
		<div class="spacer"></div>
	<% } %>
</script>

<script id="numberTemplate" type="text/template">
	<div class="user">
		<div class="number"><%= value.tn %></div>
		<% if (value.firstName || value.lastName) { %>
			<div class="name"><%= value.firstName %> <%= value.lastName %></div>
		<% } %>
		<div class="delete-user" data-tn="<%= value.tn %>" onclick="deleteUser(this);"><i class="fa fa-times"></i></div>
	</div>
</script>

<script type="text/javascript" src="static/js/moment.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="static/js/lodash.min.js"></script>
<script type="text/javascript" src="static/js/broadcast_client.js"></script>